<a href="https://colab.research.google.com/github/whairan/applied-ml/blob/main/q%26a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the Titanic dataset from seaborn
titanic_data = sns.load_dataset('titanic')

In [2]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

**Question 12**

In [ ]:
def calculate_mmm(data, column):
  """
  Calculates mean, median, and mode of a numeric column in a DataFrame.

  Args:
    data: Pandas DataFrame.
    column: Name of the numeric column.

  Returns:
    A tuple containing mean, median, and mode.
  """

  mean = # write your code here
  median = # write your code here
  mode = # write your code here

  return mean, median, mode

mean_age, median_age, mode_age = calculate_mmm(titanic_data, 'age')

print("Mean age:", mean_age)
print("Median age:", median_age)
print("Mode age:", mode_age)

In [ ]:
def calculate_mmm(data, column):
    """
    Calculates mean, median, and mode of a numeric column in a DataFrame.

    Args:
        data: Pandas DataFrame.
        column: Name of the numeric column.

    Returns:
        A tuple containing mean, median, and mode.
    """

    # Calculate mean
    mean = data[column].mean()

    # Calculate median
    median = data[column].median()

    # Calculate mode
    mode = data[column].mode()[0]  # Get the first mode in case of multiple modes

    return mean, median, mode


# Calculate mean, median, and mode for the 'age' column
mean_age, median_age, mode_age = calculate_mmm(titanic_data, 'age')

# Print the results
print("Mean age:", mean_age)
print("Median age:", median_age)
print("Mode age:", mode_age)

**Question 13**

In [ ]:
# **Question 13**
def survival_stats(data):
  """
  Calculates survival percentages for males and females.

  Args:
    data: Pandas DataFrame containing Titanic data.

  Returns:
    None. Prints the calculated statistics.
  """

  # Calculate survival percentages
  male_survived = # write your code here
  female_survived = # write your code here
  percent_male_survived = # write your code here
  percent_female_survived = # write your code here

  print("Percentage of males who survived: {:.2f}%".format(percent_male_survived))
  print("Percentage of females who survived: {:.2f}%".format(percent_female_survived))

survival_stats(titanic_data)

In [ ]:
def survival_stats(data):
    """
    Calculates survival percentages for males and females.

    Args:
        data: Pandas DataFrame containing Titanic data.

    Returns:
        None. Prints the calculated statistics.
    """

    # Calculate the number of males and females who survived
    male_survived = data[(data['sex'] == 'male') & (data['survived'] == 1)].shape[0]
    female_survived = data[(data['sex'] == 'female') & (data['survived'] == 1)].shape[0]

    # Calculate the total number of males and females
    total_males = data[data['sex'] == 'male'].shape[0]
    total_females = data[data['sex'] == 'female'].shape[0]

    # Calculate survival percentages
    percent_male_survived = (male_survived / total_males) * 100 if total_males > 0 else 0
    percent_female_survived = (female_survived / total_females) * 100 if total_females > 0 else 0

    # Print the results
    print("Percentage of males who survived: {:.2f}%".format(percent_male_survived))
    print("Percentage of females who survived: {:.2f}%".format(percent_female_survived))

**Question 14**

In [ ]:
def find_cat_correlation(data, cat_cols, target_col):
  """
  Finds the categorical column most highly correlated (using Cramér's V) with the target column.

  Args:
      data: Pandas DataFrame.
      cat_cols: List of categorical columns.
      target_col: Name of the target column (must be categorical).

  Returns:
      Name of the most highly correlated categorical column.
  """
  from scipy.stats import chi2_contingency

  correlations = {}

  for col in cat_cols:
    if col != target_col:
      contingency_table = # write your code here
      chi2, _, _, _ = chi2_contingency(contingency_table)
      n = contingency_table.sum().sum()
      phi2 = chi2 / n
      min_dim = min(contingency_table.shape) - 1
      cramers_v = np.sqrt(phi2 / min_dim)
      correlations[col] = cramers_v

  most_correlated_column = # write your code here
  return most_correlated_column

most_correlated_cat_col = find_cat_correlation(titanic_data, ['sex', 'embarked',
                                                              'class', 'who'], 'pclass')

print("Most highly correlated categorical column with pclass:", most_correlated_cat_col)

In [ ]:
def find_cat_correlation(data, cat_cols, target_col):
    """
    Finds the categorical column most highly correlated (using Cramér's V) with the target column.

    Args:
        data: Pandas DataFrame.
        cat_cols: List of categorical columns.
        target_col: Name of the target column (must be categorical).

    Returns:
        Name of the most highly correlated categorical column.
    """
    from scipy.stats import chi2_contingency
    import numpy as np

    correlations = {}

    for col in cat_cols:
        if col != target_col:
            # Create a contingency table
            contingency_table = pd.crosstab(data[col], data[target_col])

            # Perform chi-squared test
            chi2, _, _, _ = chi2_contingency(contingency_table)

            # Calculate Cramér's V
            n = contingency_table.sum().sum()  # Total number of observations
            phi2 = chi2 / n  # Calculate phi-squared
            min_dim = min(contingency_table.shape) - 1  # Adjust for degrees of freedom
            cramers_v = np.sqrt(phi2 / min_dim)  # Cramér's V formula

            # Store the correlation
            correlations[col] = cramers_v

    # Find the column with the highest correlation
    most_correlated_column = max(correlations, key=correlations.get)
    return most_correlated_column

# Find the most correlated column
most_correlated_cat_col = find_cat_correlation(
    titanic_data, ['sex', 'embarked', 'class', 'who'], 'pclass'
)

print("Most highly correlated categorical column with pclass:", most_correlated_cat_col)

**Question 15**

In [ ]:
def impute_categorical_nan(data, column):
  """
  Imputes missing values in a categorical column with the most frequent value.

  Args:
    data: Pandas DataFrame.
    column: Name of the categorical column with missing values.

  Returns:
    Pandas DataFrame with imputed values.
  """

  # Find the most frequent value
  most_frequent_value = # write your code here

  # Fill missing values with the most frequent value
  data[column] = # write your code here

  return data

df = impute_categorical_nan(titanic_data, 'deck')

df.head()

In [3]:
def impute_categorical_nan(data, column):
    """
    Imputes missing values in a categorical column with the most frequent value.

    Args:
        data: Pandas DataFrame.
        column: Name of the categorical column with missing values.

    Returns:
        Pandas DataFrame with imputed values.
    """

    # Find the most frequent value (mode)
    most_frequent_value = data[column].mode()[0]  # Get the first mode in case of ties

    # Fill missing values with the most frequent value
    data[column] = data[column].fillna(most_frequent_value)

    return data

# Apply the function to the Titanic dataset
df = impute_categorical_nan(titanic_data, 'deck')

# Display the updated DataFrame
df.head()



most_frequent_value = data[column].mode()[0]
data[column] = data[column].fillna(most_frequent_value)


# preimputation
"""| deck   |
|--------|
| NaN    |
| C      |
| B      |
| NaN    |
| C      |
"""
df = impute_categorical_nan(titanic_data, 'deck')

# postimputation
"""| deck   |
|--------|
| C      |
| C      |
| B      |
| C      |
| C      |
"""

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,C,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,C,Southampton,no,True